---
layout: job_page
title: "Online Marketing Manager"
---

## Responsibilities

* Experience with Marketo to help the team manage newsletters, leads, and analytics. Not afraid to dig around in data to help create reports for the team meetings. Comfortable being a self-taught marketing automation master.
* Manage our online ads strategy, including Google Adwords, retargeting, paid social, etc. Discretion in marketing strategies in accordance with GitLab's culture and values. 
* Ensure website conforms to proper SEO standards.
* Collaborate with our demand generation manager to implement email nurture campaigns at all stages of the funnel.
* Interface with demand generation to make sure the leads flowing from our marketing automation software to Salesforce are correct and timely.
* Engage with sales and our demand generation lead to make sure the proper reports are generated in order to track leads.


<%= partial "includes/apply_and_about" %>