---
layout: job_page
title: "Technical Writing Lead"
---

## Responsibilities

* Lead the Technical Writing team.
* Maintain a single source of truth across our sites, documentation and tutorials.
* Deliver input on promotions, function changes, demotions and firings in consultation with the CEO, and VP of Product

### Documentation

* Lead documentation improvement efforts.
* Create practices that encourage keeping documentation up to date and easily discoverable.
* Make sure by the time of release all documentation, guides and content.
* It is not the responsibility of the Technical Writing team to write the first
documentation draft for new or updated features.

### Tutorials

* Build out GitLab University so that everyone can quickly get started with GitLab.
* Create tutorials on a workflow designed around GitLab's defining features.

### Website

* Work with the Sales and Marketing team leads to make sure the website product content is comprehensive and up to date.
* Create a self-managing framework for the Community Writers program.
* Grow the Remote Only and Conversational Development websites.

## Ongoing Projects

* Reorganize documentation around topics, grouping related content into topic
  portals with a topic index page to overview the included content, taking
  readers on journey from getting started as a beginner to advanced administration.
* Create marketing website pages comparing GitLab features vs popular competing products.
* Separate documentation rendering from the rails app. Either update GitLab's
  `/help` to point to `docs.gitlab.com` or local build of the static site documentation.
* Work with the VP of Product to empower PMs and Engineers to write the first
  draft of documentation for new or updated features. Use the release blog
  post as a changelog checklist to ensure everything is documented.
* Work with the VP of Product to create a plan to dogfood [ConvDev](http://conversationaldevelopment.com/) internally to
  assess and measures its usefulness compared to other methodologies so that
  a comprehensive case study which covers all the implementation details,
  challenges and benefits can be produced.

## Requirements

* Proven experience leading, mentoring, and training teams of technical writers
* Experience working on production-level documentation
* Self-motivated and strong organizational skills
* Strong written and spoken communication skills
* Familiarity with Static Site Generators, HTML, CSS
* Familiarity with Git, Continuous Integration, Containers, Kubernetes and Project Management software a plus
* Be able to work with the rest of the community
* You share our values, and work in accordance with those values

**NOTE** In the compensation calculator below, fill in "Lead" in the `Level` field for this role.


<%= partial "includes/apply_and_about" %>