---
layout: job_page
title: "UX Designer"
---

At GitLab, UX Designers collaborate closely with Engineers, UX Research, and other Designers to create an intuitive, beautiful, world-class experience. UX Designers report to the UX Lead.

## Responsibilities

* Help to define and improve the interface and experience of GitLab.
* Create deliverables (wireframes, mockups, prototypes, flows, etc.) to communicate ideas.
* Work with developers to iterate on and refine the existing experience.
* Partner with UX Research to conduct user testing.
* Actively evaluate and incorporate feedback from UX Research.
* Stay informed of the latest UI/UX techniques, tools, and patterns.

#### UX Designer

* Understand general UX design and best practices.
* Design features that fit within the larger experience and flows.
* Effectively communicate new features with mockups and prototypes.
* Create and maintain UX documentation for design process.
* Break down designs to fit within the monthly release cadence.
* Productively iterate on features across milestones.
* Share user research findings and recommendations with team.

#### Senior UX Designer

* Deeply understand the needs and issues of GitLab users.
* Propose, implement, and lead significant improvements to GitLab UX.
* Mentor more junior UX team members.
* Delegate work to more junior UX designers as appropriate.
* Have deep knowledge of GitLab UX history and direction.
* Serve as the go-to person with UX decisions.
* Improve other UX designers productivity through better tools and workflow.
* Collaborate with members across teams and advocate for users and user-centered
  design practices.
* Write blog posts articulating UX vision.
* Interview potential UX candidates.
* Have a deep understanding of responsive Web design fundamentals.

#### Staff UX Designer

* Approach the design of GitLab from a holistic and comprehensive perspective.
* Lead strategic UX decisions, balancing both short-term considerations and long-term vision.
* Bring clarity and understanding to abstract and ambiguous UX problem spaces.
* Help to set direction and focus for GitLab's experience.
* Proactively improve the UX team, process, and flow.
* Anticipate and help address future needs for the UX team and product.
* Propose and lead a team to implement major, cross-feature, broad projects.
* Continually connect and drive current work towards our [Master Plan](https://about.gitlab.com/2016/09/13/gitlab-master-plan/) and [strategy](https://about.gitlab.com/strategy/).
 
## Tools

Tools used by the UX Team are flexible depending on the needs of the work. Please see the [UX Designer Onboarding](https://about.gitlab.com/handbook/uxdesigner-onboarding/) page for more details.

## Success Criteria

You know you are doing a good job as a UX Designer when:

* You are resolving UX / UI issues assigned to milestones well before the milestone comes up.
* You communicate well with the developers.
* You are contributing ideas and solutions beyond existing issues.
* Users are overwhelmingly happy about your contributions.
* You collaborate effectively with Frontend Engineers, Developers, and Designers.

## Relevant links

- [Engineering Handbook](/handbook/engineering)
- [Engineering Workflow](/handbook/engineering/workflow)
- [GitLab Design Kit](https://gitlab.com/gitlab-org/gitlab-design)

## Hiring Process
Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).

* Selected candidates will be invited to schedule a 30 minute [screening call](handbook/hiring/interviewing/#screening-call) with our Global Recruiters.
* Next, candidates will be invited to schedule a 45 minute first interview with a UX Designer.
* Candidate will receive a sample UX Design task to complete.
* Candidates will then be invited to schedule a 1 hour [technical interview](handbook/hiring/interviewing/technical/) with the UX Lead.
* Candidates will be invited to schedule a third 45 minute interview with our VP of Engineering.
* Finally, candidates may be asked to schedule a 50 minute interview with our CEO.
* Successful candidates will subsequently be made an offer via email.

Additional details about our process can be found on our [hiring page](handbook/hiring).


<%= partial "includes/apply_and_about" %>