---
layout: job_page
title: "Security Engineer"
---

Our thesis is that [Good Security Is Holistic](https://medium.com/@justin.schuh/stop-buying-bad-security-prescriptions-f18e4f61ba9e).
We think that simulating a security culture in engineering is one of the most
important things. We don't do checklist security, the goal is to keep the trust
of our users by being secure, compliance is not a goal in itself. We don't think
that third party products are unimportant but they are not a silver bullet to
making everything secure.

The [Security Team](/handbook/engineering/security) is responsible for leading and
implementing the various initiatives that relate to improving GitLab's security.

The Security Engineer reports to the [Security Lead](https://about.gitlab.com/jobs/security-lead).

## Responsibilities

- Find and fix security issues within the GitLab code base
- Respond to reports via GitLab's [bug bounty program](https://medium.com/@collingreene/bug-bounty-5-years-in-c95cda604365#.blaaokpi9)
- Perform vulnerability testing and security assessments
- Manage patch/vulnerability releases
- Define, implement, and monitor security measures to protect GitLab.com and company assets
- Document security trade-offs
- Collaborate with colleagues on authentication, authorization, and encryption solutions
- Tackle abuse (spam, bitcoin mining) of GitLab.com
- Introduce and improve automated testing/linting
- Create runbooks for incidents, with recovery plans
- Communication (blog post, postmortems, incident response/crisis communication)

## Requirements

- Familiarity with common security libraries, security controls, and common security flaws that apply to Ruby on Rails applications
- Some development experience (Ruby and Ruby on Rails preferred; for GitLab debugging)
- Experience with OWASP, static/dynamic analysis, and common exploit tools and methods
- Familiarity with cloud security controls and best practices
- Passion for open source
- Linux experience (e.g. Ubuntu)
- Network security experience (Routing, firewalls, VPNs, common services and protocols)
- Collaborative team spirit with great communication skills
- You share our [values](/handbook/values), and work in accordance with those values.


## Senior Security Engineers

Senior Security Engineers meet all of the requirements listed above, and have
additional technical experience as well as greater responsibilities.

Senior Security Engineers have extensive experience with:
   - application and SaaS security in production-level settings (OWASP,
  static/dynamic analysis, common exploit tools and methods)
   - cloud security controls and best practices
   - offensive testing (pen testing)
   - detection and response (monitoring, Detection, IDS, OSSEC, updates, response)
   - network security (VPN, VPC, firewalls, access control, also IDS)

Senior Security Engineers are responsible for:
   - providing guidance to the Security Lead and Director of Security regarding new security technologies
   - investigating intrusion incidents, conducting forensic investigations, and mounting incident responses
   - providing guidance to development teams regarding proper implementation of security controls and protocols
   - providing defense in depth recommendations
   - analyzing and combatting dependencies and contribution security risks
   - managing the security of GitLab's package infrastructure and security release process

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below.
Please keep in mind that applicants can be declined from the position at any stage
of the process. To learn more about someone who may be conducting the interview,
find her/his job title on our [team page](/team).

* Qualified applicants receive a short questionnaire from our Global Recruiters
* Selected candidates will be invited to schedule a 45min [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to schedule a technical interview with the Security Lead
* Candidates will then be invited to schedule a [behavioral interview](/handbook/hiring/#behavioral-questions-star) with the Director of Security
* Candidates will be invited to schedule a third interview with our VP of Engineering
* Finally, candidates will have a 50 minute interview with our CEO
* Successful candidates will subsequently be made an offer via email


Additional details about our process can be found on our [hiring page](/handbook/hiring).


<%= partial "includes/apply_and_about" %>