---
layout: job_page
title: "Production Lead"
---

The Production Lead reports to the Director of Infrastructure. Production engineers
report to the Production Lead.

## Responsibilities

* Interviews applicants for production and developer positions
* Does 1:1's with all reports every 2-5 weeks (depending on the experience of the report)
* Is available for 1:1's on demand of the report
* Maintains an on-call schedule for 24x7 uptime for GitLab.com and GitHost.io
* Ensures high uptime and performance of GitLab.com
* Prioritizes performance and scalability features with development team
* Ensures infrastructure issues are well-documented
* Provides necessary infrastructure (e.g. servers, databases, etc.) for company
* Coordinates with the team and product managers about plan for the work in the upcoming week
* Delivers input on promotions, function changes, demotions and firings in consultation with the CEO, CTO, and VP of Engineering
* Is the guardian of configuration parity between GitLab.com and on premises installations

## Why Parity?

If we don't translate our learnings from running and scaling GitLab.com (the
largest GitLab-EE installation) into a default setting we will be making really
expensive mistakes.

Consider the [GitLabFan
case](https://gitlabfan.com/onboarding-story-importing-projects-from-gitlab-com-to-self-hosted-gitlab-9ded5eb80f2f#.yy6bs3fs0)
when a customer tried to import his projects into an on-premise installation
and found multiple blockers in the way, including one that simply should not be
there: limitation of 10 projects per user.

This frustrated this customer, and they are right, we can do much better.
All exceptions should be documented on the [GitLab.com settings page](https://about.gitlab.com/gitlab-com/settings/) no later than they are deployed.

**NOTE** In the compensation calculator below, fill in "Lead" in the `Level` field for this role.


<%= partial "includes/apply_and_about" %>
