---
layout: job_page
title: "Staff Developer, Geo (Distributed Systems)"
---

We are seeking a [Staff level Backend Developer](/jobs/developer/#staff-developer)
with specific expertise in Distributed Systems to join (primarily) in the
development of GitLab Geo. [GitLab Geo](https://docs.gitlab.com/ee/gitlab-geo/README.html)
is an enterprise product feature that speeds up the work of globally distributed
teams, adds redundancy for GitLab instances, and provides Disaster Recovery as
well. As a staff level distributed systems specialist, you would provide deep
technical know-how to the rest of the team, and radiate this knowledge. This
position reports to the [Engineering Manager - Geo](/jobs/engineering-manager-geo).


## Responsibilities

As a Staff Engineer, you are expected to

- Write exquisite code and peer review others’ code
- Ship large features independently
- Be positive and solution oriented
- Make architecture decisions and author technical architecture documents for epics
- Author code tests for hiring process and screen applicants
- Constantly improve the quality & security of the product
- Radiate your knowledge internally and beyond, by writing public blog posts

Within the Geo team specifically, in this role you will

- Architect Geo and Disaster Recovery products for GitLab
- Identify ways to test and improve availability and performance of GitLab Geo at GitLab.com scale
- Instrument and monitor the health of distributed GitLab instances
- Educate all team members on best practices relating to high availability

## Requirements

- Deep experience architecting and implementing fault-tolerant, distributed systems
- Experience building and scaling highly-available systems
- In-depth experience with Ruby on Rails, Go, and/or Git
- Excellent written and verbal communication skills
- You share our [values](/handbook/values), and work in accordance with those values
- [A technical interview](/jobs/#technical-interview) is part of the hiring process for this position.

## Hiring process

The hiring process for this position includes

- A 30min. screening call with one of our Recruiters
- An interview with a Senior Developer with deep knowledge of the Geo feature set
- An interview with the Engineering Manager - Geo
- An interview with the Director of Backend
- An interview with the VP of Engineering


**NOTE** In the compensation calculator below, fill in "Staff" in the `Level` field for this role.



<%= partial "includes/apply_and_about" %>
