---
layout: job_page
title: "Specialist"
---

Specialists carry responsibility for a certain topic.
They keep track of issues in this topic and/or spend the majority of their time there.
Commonly there is a lead in this topic that makes the final calls.

- [Backstage Specialist](backstage)
- [Issue Triage Specialist](issue-triage)
- [Database Specialist](database)
- [Prometheus Specialist](prometheus)


<%= partial "includes/apply_and_about" %>